
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
* {
  box-sizing: border-box;
}

body {
  /* background-color: #f5f5f5; */
  /* background-color: #E4EBF5;
  background-color: #f5f5f5; */
  font-family: 'Poppins', sans-serif;
  color: black;
  
}

.main-container {
  position: relative;
  top: -20px;
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

.platform {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  padding: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  /* box-shadow:.8rem .8rem 1.4rem #c8d0e7, 
            -.2rem -.2rem 1.8rem #FFFFFF; */
  /* background: #a09f92; */
  /* box-shadow: -10px -10px 20px #939286, 10px 10px 20px #adac9e; */
/* background: white;
box-shadow:  21px 21px 42px #bebebe,
             -21px -21px 42px #ffffff; */
  outline-color: #333;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.grid {
  display: grid;
  width: auto;
  height: 90%;
  padding: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}

.card {
  width: 7rem;
  height: 7rem;
  border-radius: 3px;
  outline-color: #6e6d64;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
  /* border-style: 1px solid black; */
  background-position: 50% 50%;
  background-size: cover;
  /* box-shadow: .3rem .3rem .6rem #c8d0e7, 
-.2rem -.2rem .5rem #FFFFFF; */
  /* box-shadow:
    -4px -2px 4px 0px #adac9e,
    4px 2px 8px 0px #939286; */
}
/* #adac9e */
/* .card:nth-child(2) {
  visibility: hidden;
}

.card:nth-child(10) {
  visibility: hidden;
} */

.card-face {
  position: absolute;
  width: 7rem;
  height: 7rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #000;
  transform: rotateY(180deg);
  /* box-shadow: .3rem .3rem .6rem #c8d0e7, 
-.2rem -.2rem .5rem #FFFFFF; */
  /* box-shadow:
    -4px -2px 4px 0px #adac9e,
    4px 2px 8px 0px #939286; */
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  /* box-shadow: inset -.2rem -.2rem .5rem #FFFFFF, inset .2rem .2rem .5rem #c8d0e7,  */

}

.unflipped {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.wrapper-button {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  height: 100px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: flex-start;
}

.button {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 6%;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
  /* box-shadow: .3rem .3rem .6rem #c8d0e7, 
-.2rem -.2rem .5rem #FFFFFF; */
  /* box-shadow:
    -4px -2px 4px 0px #adac9e,
    4px 2px 8px 0px #939286; */
}

.teststart {
  position: absolute;
}

.teststop {
  position: absolute;
  top: 24%;
}

.container-wrapper-score {
  /* position: absolute;
  left: 0%;
  top: -7%;
  right: auto;
  bottom: auto; */
  display: flex;
  align-items: center;
  align-content: center;
  width: auto;
  /* height: 50px; */
  align-items: flex-end;
  /* line-height: 14px; */
  /* margin-bottom: 10px; */
}

.wrapper-score {
  display: flex;
  align-items: center;
  align-content: stretch;
  padding-bottom: 0px;
  padding-left: 3px;
}

.your-score-dummy-text {
  margin-top: 0px;
  margin-bottom: 0px;
  /* line-height: 24px; */
}

.score {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-left: 0px;
  /* line-height: 24px; */
}

.wrapper-for-score-and-time {
  width: 780px;
  position: absolute;
  left: auto;
  top: -6%;
  right: auto;
  bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.container-wrapper-time {
  display: flex;
  /* height: 30px; */
  align-items: flex-end;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 24px;
}


h3 {
  font-size: 14px;
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-transform: uppercase;
}

.wrapper-time {
  width: 205px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7px;
  padding-bottom: 0px;
}

.wrapper-container-timer {
  display: flex;
  align-self: flex-end;
  padding-bottom: 3px;
}

.lottie-animation {
  display: none;
  transition-delay: 1s;
}

.match {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
}


/* Endprompt */
.wrapper-final-prompt {
  position: absolute;
  top: -150%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
}

.wrapper-final-prompt-hide {
  display: none;
}

.endgame-wrapper {
  position: relative;
  top: -100px;
  width: 400px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 38px;
  text-align: center;
}

.wrapper-time-endgame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wrapping-score-endgame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hide-this {
  display: none;
}

@media screen and (max-width: 991px) {
  .main-container {
    width: auto;
    height: 100vh;
  }

  .cell {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .platform {
    padding: 20px;
  }

  .cell {
    width: 4rem;
    height: 4rem;
  }

  .container-wrapper-score {
    top: -10%;
  }

  .container-wrapper-time {
    top: -10%;
  }
}

@media screen and (max-width: 479px) {
  .platform {
    padding: 0px;
    outline-color: #333;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 1px;
  }

  .grid {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .cell {
    width: 2.8rem;
    height: 2.8rem;
  }

  .container-wrapper-score {
    top: -20%;
  }

  .your-score-dummy-text {
    font-size: 14px;
    line-height: 14px;
  }

  .score {
    font-size: 14px;
    line-height: 14px;
  }

  .container-wrapper-time {
    top: -20%;
  }

  .heading {
    font-size: 14px;
    line-height: 14px;
  }

}
